@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// em  rem in media queries always => 1em = 16px and dont depend on setting font size
@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media screen and (max-width: 36em) {
      @content;
    }
  }
  @if ($breakpoint == tab-port) {
    @media screen and (max-width: 48em) {
      @content;
    }
  }
  @if ($breakpoint == tab-land) {
    @media screen and (max-width: 62em) {
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media screen and (min-width: 112.5em) {
      @content;
    }
  }
}
