//colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-gray: #777;

$color-gray-dark-1: #999;
$color-gray-dark-2: #333;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

//gradients
$linear-gradiant-primary: linear-gradient(
  to right bottom,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)
);
//shadows
$box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
$box-shadow-high: 0 1.5rem 2rem rgba($color-black, 0.5);
$box-shadow-low: 0 0.5rem 1rem rgba($color-black, 0.1);

//Font
$default-font-size: 1.6rem;

//border-radius
$default-border-radius: 3px;
$btn-border-radius: 10rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sm: 4rem;
