.footer {
  padding: 10rem 0;
  color: $color-gray-light-1;
  background-color: $color-gray-dark-2;
  font-size: 1.3rem;
  @include respond(phone) {
    background-color: red;
  }
  &__logo-container {
    text-align: center;
    margin-bottom: 5rem;
  }
  &__logo {
  }
  &__navigation {
    padding: 3rem 0;
    border-top: 1px solid $color-gray-light-1;
    display: inline-block;
  }
  &__list {
    list-style: none;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      background-color: $color-gray-dark-2;
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
      &:hover,
      &:active {
        color: $color-primary;
        transform: scale(1.1) rotate(10deg);
        box-shadow: $box-shadow;
      }
    }
  }
  &__copyright {
    padding: 3rem 0;
    border-top: 1px solid $color-gray-light-1;
    width: 80%;
    float: right;
  }
}
