.composition {
  position: relative;
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
  }
  &__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    z-index: 1;
    outline-offset: 1.5rem;
    transition: all 0.2s;
    &:hover {
      outline: 1.5rem solid $color-primary-dark;
      transform: scale(1.1) translateY(-5px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
      z-index: 10;
    }
    &--p1 {
      top: -2rem;
      left: 0;
    }
    &--p2 {
      top: 2rem;
      right: 0;
    }
    &--p3 {
      top: 10rem;
      left: 20%;
    }
  }
}
